/* reset */
*{
padding:0%;
margin:0%;
box-sizing: border-box;
}



/* body */
body{
    background-color: #181818;
}
.listinput{
    margin: 50px 50px;
    display:flex;
    /* background-color: red; */
}
th{
    padding:10px;
}
table{
    border:1px solid #10b981;
    border-radius: 10px;
    background-color: #181818;
}
input{
    border:none;
    border :1px solid #10b981;
    padding: 5px 5px;
    outline: none;
    border-radius: 3px;
    width: 200px;
    height:25px;
    background-color: #181818;
    color:#969696
}

.submitter{
    margin: 30px 80px;

}

.submitter button{
    height:50px;
    width:150px;
    background-color: #10b981;
    font-weight:bold;
    border-radius: 5px;
}

.datainput{
    padding:30px;
    color:#969696;
}

.outputscreen{
    color:#969696;
    background-color:#181818;
    margin-top: 20px;
    margin-left: 50px;
    box-sizing: border-box;
    padding:20px 30px 20px 30px;
    max-width:fit-content;
    border: 2px solid #10b981;
    border-radius: 10px;
    position:relative;
    height:300px;
    overflow-y:auto;
}


.outputscreen th{
    width:170px;
    padding-top: 5px;
    padding-left: 10px;
    align-items: center;
}

.showlistitem{
    width:170px;
    height:25px;
    background-color: white;
    padding-left:10px;
    padding-right:10px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius:5px;
}

#removebutton{
    height:20px;
    width:100%;
    background-color: #ef4444;
    border-radius: 10px;
    border:2px solid black;
    padding-left:30px;
    box-sizing: border-box;
    padding-right:30px;
}

#grandtotal{
padding-left:413px;
padding-top: 10px;
}

#print {
padding-right:50px;
padding-top:20px;
padding-bottom:10px;
position: absolute;
right: 10px;
}

#print button{
 height:50px;
 width:150px;
 background-color: #ffd60a;   
 border-radius:10px;
}

